catkin==0.7.29
click==8.0.1
Flask==2.0.1
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.16
itsdangerous==2.0.1
Jinja2==3.0.1
joint-state-publisher==1.12.15
joint-state-publisher-gui==1.12.15
MarkupSafe==2.0.1
python-qt-binding==0.4.4
rosgraph==1.14.11
roslib==1.14.9
rospy==1.14.11
rosserial-python==0.8.0
sensor-msgs==1.12.8
Werkzeug==2.0.1
