absl-py==0.12.0
aio-pika==6.8.0
aiofiles==0.6.0
aiohttp==3.7.4
aiormq==3.3.1
alabaster==0.7.12
alembic==1.4.3
altgraph==0.17
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
appdirs==1.4.4
APScheduler==3.7.0
argh==0.26.2
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828493937/work
asgiref==3.3.4
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
asteval==0.9.21
astroid @ file:///tmp/build/80754af9/astroid_1592495912941/work
astropy @ file:///tmp/build/80754af9/astropy_1606922912494/work
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
atpublic==2.3
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autograd==1.3
autograd-gamma==0.5.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
Babel @ file:///tmp/build/80754af9/babel_1607110387436/work
backcall==0.2.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1605305165209/work
backports.shutil-get-terminal-size @ file:///tmp/build/80754af9/backports.shutil_get_terminal_size_1608222128777/work
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
bidict==0.21.2
bitarray @ file:///tmp/build/80754af9/bitarray_1605065113847/work
bkcharts==0.2
black==19.10b0
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blis==0.7.4
bokeh @ file:///tmp/build/80754af9/bokeh_1603297833684/work
boto==2.49.0
boto3==1.17.69
botocore==1.20.69
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.2
caer==1.9.8
canaro==1.1.0
catalogue==1.0.0
catkin==0.7.29
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
colorclass==2.2.0
coloredlogs==15.0
colorhash==1.0.3
commonmark==0.9.1
conda==4.10.3
conda-build==3.20.5
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1603018141399/work
conda-verify==3.4.2
configobj==5.0.6
contextlib2==0.6.0.post1
croniter==1.0.13
cryptography==3.4.7
cssselect2==0.4.1
cycler==0.10.0
cymem==2.0.5
Cython @ file:///tmp/build/80754af9/cython_1605457646007/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1607706933335/work
decorator==4.4.2
Deep-Boltzmann-Package==0.1
defusedxml==0.6.0
dictdiffer==0.9.0
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
discord.py==1.7.2
diskcache==5.2.1
distlib==0.3.2
distributed @ file:///tmp/build/80754af9/distributed_1607714054279/work
distro==1.6.0
Django==3.2.4
dm-tree==0.1.6
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
dpath==2.0.1
dulwich==0.20.24
dvc==2.5.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
fbmessenger==6.0.0
filelock==3.0.12
flake8 @ file:///tmp/build/80754af9/flake8_1601911421857/work
Flask==1.1.2
flatbuffers==1.12
flatten-dict==0.4.1
flufl.lock==3.2
fsspec==2021.7.0
ftfy==6.0.3
funcy==1.16
future==0.18.2
gast==0.3.3
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.16
gevent @ file:///tmp/build/80754af9/gevent_1608661055859/work
gitdb==4.0.7
GitPython==3.1.14
glob2==0.7
gmpy2==2.0.8
google-api-core==1.31.1
google-api-python-client==2.15.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
googleapis-common-protos==1.53.0
grandalf==0.6
greenlet @ file:///tmp/build/80754af9/greenlet_1600874013538/work
grpcio==1.37.1
gunicorn==20.1.0
h11==0.9.0
h5py==2.10.0
HeapDict==1.0.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
httpcore==0.11.1
httplib2==0.19.1
httptools==0.2.0
httpx==0.15.4
humanfriendly==9.1
idna==2.10
imagecodecs @ file:///tmp/build/80754af9/imagecodecs_1603270458960/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
inputimeout==1.0.4
install==1.3.4
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596207638929/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1604101197014/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
isodate==0.6.0
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///tmp/build/80754af9/jedi_1606932564285/work
jeepney @ file:///tmp/build/80754af9/jeepney_1606148855031/work
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.1
joint_state_publisher==1.12.15
joint_state_publisher_gui==1.12.15
json5==0.9.5
jsonpath-ng==1.5.3
jsonpickle==2.0.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-contrib-core==0.3.3
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1606148996965/work
jupyter-nbextensions-configurator @ file:///home/conda/feedstock_root/build_artifacts/jupyter_nbextensions_configurator_1611341108640/work
jupyter-tabnine==1.2.2
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
kafka-python==2.0.2
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring @ file:///tmp/build/80754af9/keyring_1608756107582/work
kiwisolver==1.3.1
lazy-object-proxy @ file:///tmp/build/80754af9/lazy-object-proxy_1607707356794/work
libarchive-c==2.9
llvmlite==0.34.0
lmfit==1.0.1
locket==0.2.0
lxml @ file:///tmp/build/80754af9/lxml_1606516814318/work
mailchecker==4.0.11
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mattermostwrapper==2.2
mccabe==0.6.1
mdtraj==1.9.6
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
more-itertools @ file:///tmp/build/80754af9/more-itertools_1605111547926/work
MouseInfo==0.1.3
mplcursors==0.4
mpmath==1.1.0
msgpack @ file:///tmp/build/80754af9/msgpack-python_1607965822683/work
multidict==4.7.6
multipledispatch==0.6.0
murmurhash==1.0.5
mypy==0.800
mypy-extensions==0.4.3
nanotime==0.5.2
navigator-updater==0.2.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601914830498/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1606153767164/work
networkx==2.5.1
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose @ file:///tmp/build/80754af9/nose_1606773131901/work
notebook @ file:///tmp/build/80754af9/notebook_1607976349247/work
numba @ file:///tmp/build/80754af9/numba_1600100669015/work
numexpr @ file:///tmp/build/80754af9/numexpr_1607693765815/work
numpy==1.21.0
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
openai==0.6.3
opencv-contrib-python==4.5.1.48
opencv-python==4.4.0.46
OpenMM==7.5.1
openpyxl @ file:///tmp/build/80754af9/openpyxl_1598113097404/work
opt-einsum==3.3.0
packaging==20.9
pamqp==2.3.0
pandas==1.2.4
pandocfilters @ file:///tmp/build/80754af9/pandocfilters_1605120460739/work
parso==0.7.0
partd==1.1.0
path @ file:///tmp/build/80754af9/path_1607537225611/work
pathlib2 @ file:///tmp/build/80754af9/pathlib2_1607024983162/work
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.1
pbr==5.6.0
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
phonenumbers==8.12.28
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pika==1.1.0
Pillow==8.2.0
pkginfo==1.6.1
plac==1.1.3
pluggy==0.13.1
ply==3.11
preshed==3.0.5
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1606344362066/work
prompt-toolkit==2.0.10
protobuf==3.16.0
psutil==5.8.0
psycopg2-binary==2.8.6
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1605560620615/work/dist/ptyprocess-0.6.0-py2.py3-none-any.whl
py @ file:///tmp/build/80754af9/py_1607971587848/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycurl==7.43.0.6
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1598885001695/work
pydot==1.4.2
PyDrive2==1.8.3
pyerfa @ file:///tmp/build/80754af9/pyerfa_1606860180519/work
pyflakes==2.2.0
PyGetWindow==0.0.9
pygit2==1.6.1
Pygments @ file:///tmp/build/80754af9/pygments_1607368905949/work
pygtrie==2.4.2
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyJWT==2.1.0
pykwalify==1.8.0
pylint @ file:///tmp/build/80754af9/pylint_1598623985952/work
pyls-black @ file:///tmp/build/80754af9/pyls-black_1607553132291/work
pyls-spyder @ file:///tmp/build/80754af9/pyls-spyder_1608134179673/work
pymongo==3.10.1
PyMsgBox==1.0.9
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.27
PySimpleGUI==4.41.2
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
pyTelegramBotAPI==3.7.7
pytest==0.0.0
python-benedict==0.24.1
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==4.1.0
python-fsutil==0.5.0
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1607972495879/work
python-slugify==5.0.2
python-socketio==5.2.1
python-telegram-bot==12.8
python3-xlib==0.15
python_qt_binding==0.4.4
PyTweening==1.0.3
pytz==2021.1
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1601658317819/work
pywhatkit==4.7
pyxdg @ file:///tmp/build/80754af9/pyxdg_1603822279816/work
PyYAML==5.3.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
questionary==1.9.0
rasa==2.6.0
rasa-sdk==2.6.0
redis==3.5.3
regex==2020.9.27
reliability==0.5.6
reportlab==3.5.59
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==10.7.0
rocketchat-API==1.15.0
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rosgraph==1.14.11
roslib==1.14.9
rospy==1.14.11
rosserial_python==0.8.0
rpm==0.0.2
rsa==4.7.2
Rtree==0.9.4
ruamel.yaml.clib==0.2.2
ruamel_yaml==0.15.87
s3transfer==0.4.2
sanic==20.9.0
Sanic-Cors==0.10.0.post3
sanic-jwt==1.5.0
Sanic-Plugins-Framework==0.9.5
scikit-image==0.17.2
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1598376899566/work
scipy==1.6.3
seaborn @ file:///tmp/build/80754af9/seaborn_1608578541026/work
SecretStorage @ file:///tmp/build/80754af9/secretstorage_1606864733683/work
selenium==3.141.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
sensor-msgs==1.12.8
sentry-sdk==0.19.5
shortuuid==1.0.1
shtab==1.3.10
simplegeneric==0.8.1
simtk==0.1.0
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
sip==4.19.13
six==1.16.0
sklearn-crfsuite==0.3.6
slackclient==2.9.3
smmap==4.0.0
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1606865132123/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1607965878077/work
spacy==2.3.5
Sphinx @ file:///tmp/build/80754af9/sphinx_1608578712890/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder @ file:///tmp/build/80754af9/spyder_1607704268920/work
spyder-kernels @ file:///tmp/build/80754af9/spyder-kernels_1608578795921/work
SQLAlchemy==1.3.24
sqlparse==0.4.1
srsly==1.0.5
statsmodels @ file:///tmp/build/80754af9/statsmodels_1606865674184/work
svglib==1.0.1
symfit==0.5.3
sympy @ file:///tmp/build/80754af9/sympy_1608137652302/work
tables==3.6.1
tabulate==0.8.9
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.2
tensorflow-addons==0.12.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.10.0
tensorflow-probability==0.11.1
tensorflow-text==2.3.0
termcolor==1.1.0
terminado==0.9.1
terminaltables==3.1.0
testpath==0.4.4
testresources==2.0.1
text-unidecode==1.3
thinc==7.4.5
threadpoolctl==2.1.0
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///tmp/build/80754af9/tifffile_1607624018440/work
tinycss2==1.1.0
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
toposort==1.6
torch==1.7.1
torchvision==0.8.2
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
tqdm==4.59.0
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
twilio==6.50.1
typed-ast==1.4.1
typeguard==2.12.0
typing-extensions==3.10.0.0
tzlocal==2.1
ujson==4.0.2
uncertainties==3.1.5
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.4
uvloop==0.14.0
virtualenv==20.4.7
voluptuous==0.12.1
wasabi==0.8.0
watchdog @ file:///tmp/build/80754af9/watchdog_1606939093881/work
wcwidth==0.2.5
webencodings==0.5.1
webexteamssdk==1.6
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
wrapt==1.12.1
wurlitzer @ file:///tmp/build/80754af9/wurlitzer_1594753850195/work
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1602692860603/work
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarl==1.6.3
zc.lockfile==2.0
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
zope.event==4.5.0
zope.interface @ file:///tmp/build/80754af9/zope.interface_1606940259012/work
